
.headband {
background-color: #424242;
color: #EFEFEF;
}
.headtitle {
color: #FFD900;
margin-bottom: .01%;
line-height: 1.25;
}
.contact {
color: #FFD900;
margin-top: .01%;
line-height: 1;
}

/* .colour1 {background-color: #333333};
.colour2 {background-color: #424242};
.colour3 {background-color: #00CCD6};
.colour4 {background-color: #EFEFEF};
.colour5 {background-color: #FFD900}; */
